<h1>Sign Up</h1>

<div class="credentials-form">
	<form method="POST" action="/auth/signup">
		<label for="username-field">Username</label>
		<input type="text" id="username-field" name="username">
		<br>
		<label for="email-field">Email</label>
		<input type="text" id="email-field" name="email">
		<br>
		<label for="password-field">Password</label>
		<input type="password" id="password-field" name="password">
		<br>
		<label for="password-field">Password Verify</label>
		<input type="password" id="password-verify-field" name="password_verify">
		<br>
		<label for="firstname-field">First Name:</label>
		<input type="text" id="firstname-field" name="firstname">
		<br>
		<label for="lastname-field">Last Name:</label>
		<input type="text" id="lastname-field" name="lastname">
		<br>


		<input type="submit" value="Sign Up">
	</form>

</div>