<h1>Change Your First Name</h1>

<form class="credentials-form" method="POST" action="/profile/firstname?_method=PUT">
    <input type="text" name="firstname">
    <input type="submit" value="Change My Name">
</form>