<h1>Change Your Last Name</h1>

<form class="credentials-form" method="POST" action="/profile/lastname?_method=PUT">
    <input type="text" name="lastname">
    <input type="submit" value="Change My Name">
</form>