<nav>
	<ul>
		
		<li>
            <a href="/">Home</a>
        </li>
		
	</ul>
	<ul>
	
		<li>
			<a href="/profile">Profile</a>
		</li>
		
		<li>
			<a href="/profile/admin">Admin Profile</a>
		</li>
		
		<li>
			<a href="/auth/logout">Logout</a>
		</li>
		
		<li>
			<a href="/auth/signup">Sign Up</a>
		</li>
		<li>
			<a href="/auth/login">Log-in</a>
		</li>
	
		
	</ul>

</nav>