<nav>
	<ul>
		<% if (currentUser && currentUser.firstname) {%>
		<li>
			<a href="/profile">Welcome Back <%= currentUser.firstname%>!</a>
		</li>
		<li>
			<a href="/artists/new">New Artists</a>
		</li>
		<li>
			<a href="/songs">Your Songs</a>
		</li>

		<% } else {%>
		<li>
			<a href="/">Home</a>
		<%}%>
		
	</ul>
	<ul>
		<% if (currentUser) {%>
		<li>
			<a href="/artists"> Favorite Artists</a>
		</li>
		
		<li>
			<a href="/auth/logout">Logout</a>
		</li>
		<% } else {%>
		<li>
			<a href="/auth/signup">Sign Up</a>
		</li>
		<li>
			<a href="/auth/login">Log-in</a>
		</li>
		<% } %>
		
	</ul>

</nav>