<!DOCTYPE html>
<html>
<head>
	<title>My Tunes</title>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>
<body>
	<%- include ./partials/header%>

	<div class="container">
		<% include ./partials/alerts %>
		<%- body %>
	</div>

	<%- include ./partials/footer%>
</body>
</html>