<!DOCTYPE html>
<html>
<head>
	<title>My Tunes</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>
<body>
	<%- include ./partials/header%>

		<%- body %>

	<%- include ./partials/footer%>
</body>
</html>