<h1>Add New Artist Page</h1>

<form class="credentials-form" method="GET" action="/artists/new/results">
    <input type="text" name="name" id="query">
    <input type="submit" id="search-button">
</form>


<div id="container-div">

</div>

